@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}
@media (max-width:420px){
  .box-column, .day-one, .day-three, .day-two, .forecast-box{
   display:none;
   width:0;
   margin:0;
   row-gap: 0;
}
.container-md{
  margin:0 auto;
}
}
.container-md{
    background-image:rgb(88, 88, 86);
    align-content: center;
}
.weather-app{
    background: radial-gradient(circle at 50% 10%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 95.2%);
     margin-top: .25em;
     margin-bottom:.5em;
     margin-left:8em;
     margin-right:8em;
     max-height: 160vh;
     padding: 2em;
     box-shadow: -2px 18px 24px 6px rgba(0, 0, 0, 0.7);
     border-radius: 1rem;
     border: 2px ridge rgba(207, 224, 55, 0.692);
     text-align: center;
    }
.forecast-box{
    display: grid;
}
.box-column{
     display: grid;
     grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
    width:150px;
    text-align: center;
    align-content: center;
    row-gap: 3em;
    }
.day-one, .day-three, .day-two{
    border: 1px solid slategrey;
    background: linear-gradient(10.6deg, rgb(5, 69, 77) 1.2%, rgb(186, 232, 232) 91.1%);
    height: 100px;
    box-shadow: -2px 18px 24px 2px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
}

.local{
    padding-left: 5px;
    letter-spacing: .5px;
    font-family: "DM Serif Display", serif;
    font-weight: 300;
    color:rgba(240, 241, 238, 0.966);

 }
.search-up{
    margin-bottom: 0.5em;
    display: flex;
    position: relative;
    top:-0.5em;
    margin-top: -1em;
    justify-content: center;
}
.search-up i{
    color:rgba(240, 241, 238, 0.966);
}
.search-bar{
    display:block;
    padding-bottom: .5em;
    position: relative;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.search-bar input::placeholder{
    color:#212b32;
    font-family: 'Dm Sans', serif;
    font-size: 12px;
    font-weight:400;
}
.search-bar input:focus::placeholder{
    color:transparent;
    background-color: rgba(250, 235, 215, 0.349);
}
.btn{
    position: absolute;
    transform: translateY(-50%);
    right: .5px;
    top: 45%;

}
input{
    text-align: left;
    margin: .25em;
    background-color: #e3e5e67a;
    border-radius: 0.3em;
    padding: 3px;
    border: 1px solid rgb(33, 43, 50);
}
img{
    width: 150px;
}
.temp{
    font-size: 54px;
    color: rgb(17, 16, 16);
    font-family:"DM Serif Display", sans-serif;
    font-weight: 600;
    padding-bottom:.2em;
}
.unit{
    font-size: 1.7rem;
    position: relative;
    top: -12px;
}
.date{
    margin-bottom: 2em;
    margin-top: 1em;
    color: rgb(17, 16, 16);
    word-spacing: .1em;
    font-weight: 200;
}
.weather-description{
    font-size: 24px;
    font-family: "Dm Sans", serif;
    font-weight: 500;
    color: rgb(17, 16, 16);
    margin-bottom: .5em;
}
.weather-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 1;
    font-family: "Dam Sans", serif;
    font-size: 18px;
    column-gap: 20px;

}
.humidity, .wind{
    background: rgba(160, 208, 209, 0.788);
    border-radius: 15px;
    color: rgb(17, 16, 16);
    border:2px ridge rgb(33, 43, 50);
    padding:6px;
}

.weather-details i{
    grid-row: 2;
    font-size: 14px;
    }
footer{
  text-align: center;
  font-family:"DM Serif Display", sans-serif;
  letter-spacing: .5px;
    }
footer a{
    color:rgb(33, 43, 50);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 2px;
}



