@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}
@media (max-width:420px){
  .box-column, .day-one, .day-three, .day-two, .forecast-box{
   width:0;
   margin:0;
   row-gap: 0;
}
.container-md{
  margin:0 auto;
}
}
.container-md{
    background-image:rgb(88, 88, 86);
    align-content: center;
}
.weather-app{
    
    background: radial-gradient(circle at 50% 5%,rgb(170, 49, 8) 8%, rgb(15, 15, 15) 50.2%);
     margin-top: .25em;
     margin-bottom:.5em;
     margin-left:5em;
     margin-right:5em;
     max-height: 160vh;
     padding: 2em;
     box-shadow: -2px 18px 24px 20px rgba(0, 0, 0, 0.7);
     border-radius: 1rem;
     border: 2px ridge rgba(207, 224, 55, 0.692);
     text-align: center;
    }
.forecast-box{
    display: grid;
    row-gap: 3em;
    margin-top: 20px;
}
.box-rows{
     display: grid;
    background: rgb(21, 21, 34, .8);  
    align-content: center;
    
    }
.day-one, .day-three, .day-two{
    color:rgba(240, 241, 238);
    
    
}

.local{
    padding-left: 5px;
    letter-spacing: .5px;
    font-family: "DM Serif Display", serif;
    font-weight: 300;
    color:rgba(240, 241, 238, 0.966);

 }
.search-up{
    margin-bottom: 0.3rem;
    display: flex;
    position: relative;
    top:-.8rem;
    justify-content: center;
}
.search-up i{
    color:rgba(240, 241, 238, 0.966);
}
.search-bar{
    display:flex;
    justify-content: center;  
    
}
.search-bar input::placeholder{
    color:rgb(18, 18, 19);
    font-family: 'Dm Sans', serif;
    font-size: 14px;
    font-weight:400;
}

.btn{
    position: relative;
    left: 80px;
    top: -15px;
}
input{
    text-align: left;
    color:rgb(18, 18, 19);
    border-radius: 0.3em;
    font-weight: 600;
    padding: 8px;
    border: 1px inset rgba(24, 25, 26, 0.7);
}
img{
    width: 200px;
    position: relative;
    top:-30px;
}
.temp{
    font-size: 72px;
    color:rgba(240, 241, 238, 0.966);
    font-family:"DM Serif Display", sans-serif;
    font-weight: 500;
    position: relative;
    top:-30px;
    line-height: 20px;
    padding-bottom:.2em;
}
.unit{
    font-size: 1.4rem;
    letter-spacing: 2px;
    position: relative;
    top: -25px;
}
.date{
    margin-bottom: 1.5em;
    margin-top: .25em;
    color:rgba(240, 241, 238);
    word-spacing: .1em;
    font-weight: 200;
}
.weather-description{
    font-size: 24px;
    font-family: "Dm Sans", serif;
    font-weight: 500;
    color:rgba(240, 241, 238);
    margin-bottom: .25em;
}
.weather-details{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1 1;
    font-family: "Dam Sans", serif;
    font-size: 18px;
    line-height: 24px;
    column-gap: 3rem;
    border-top: 1px solid rgba(240, 241, 238);
    border-bottom: 1px solid rgba(240, 241, 238);

}
.humidity, .wind{
    color:rgba(240, 241, 238);
    font-size: 16px;
}
.daily-details{
    font-size: 20px;
    font-weight: 400;
}

.weather-details span{
    grid-row: 2;
    letter-spacing: 1px;
    }
footer{
  text-align: center;
  font-family:"DM Serif Display", sans-serif;
  letter-spacing: .5px;
  padding-bottom: 10px;
    }
footer a{
    color:rgb(215, 236, 18);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 2px;
}



